.menu {
    background-color: #03506f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo {
    height: 50px;
    padding-right: 15px;
}
.menu .nav-link {
    color: aliceblue;
    font-size: bold;
    padding: 10px;
}
.menu .nav-link:hover {
    color:darksalmon;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.carousel-inner img {
    height: 400px;
}
.input-group {
    margin-top: 15px;
}
.footer {
    height: 50px;
    background-color:darkseagreen;
    color: darkslategray;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
}

